<div class="chartBtnArea">
	<div class="chartBtn">
		<a href="javascript:void(0)" (click)="evtBtnNewClick()"  class="btn btn-default" title="새로만들기"><i class="ti-plus"></i></a>
		<a href="javascript:void(0)" (click)="evtBtnSaveClick()"  class="btn btn-default" title="저장"><i class="ti-save"></i></a>
		<a href="javascript:void(0)" (click)="evtBtnSaveAsClick()"  class="btn btn-default" title="다른이름으로 저장"><i class="ti-files"></i></a>
		<a href="javascript:void(0)" (click)="evtBtnDeleteClick()"  class="btn btn-default" title="삭제"><i class="ti-trash"></i></a>
		<!-- <a href="javascript:void(0)" (click)="goAdd()"  class="btn btn-default" title="새로고침"><i class="ti-loop"></i></a> -->
		<!-- <a href="javascript:void(0)" (click)="evtBtnPackExecClick()"  class="btn btn-info" title="Segment 재처리">Segment 재처리</a> -->
	</div>														
</div>
<div class="segmentType colRow">
	<div class="packList col20">
		<div class="treeCon mCustomScrollbar">
			<div id="definitionTree01">
			</div>
		</div>
	</div>


	<div class="packInfo col80">
		<div class="writeTypeCon">
			<div class="writeType01 viewTable01">
				<div class="requiredInfor">					
					<div class="form-Area">
						<div class="form-group">
							<label class="control-label"><span class="star01">세그먼트 명</span></label>
							<div class="formInput">
								<input type="text" class="form-control" [(ngModel)]="detailinfo.SEG_NM">
							</div>																			
						</div>
						<div class="form-group">
							<label class="control-label"><span class="star01">세그먼트 유형</span></label>
							<div class="formInput">
								<div class="input-group">
									<input type="text" class="form-control" id="FLD_NM" [(ngModel)]="detailinfo.FLD_NM" readonly>
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" data-toggle="modal" data-target="#advisorSegmentSelectModal" (click)="openAdvisorSegmentSelectModal()"><i class="ti-search"></i></button>
									</span>
								</div>
							</div>																			
						</div>
						<div class="form-group">
							<label class="control-label"><span class="star01">세그먼트 타입</span></label>
							<div class="formInput">
								<div class="selects">
									<select class="form-control" name="" [(ngModel)]="detailinfo.IU_TYPE">
										<option *ngFor="let data of extrTypeList" value="{{data.CODE_ID}}">{{data.CODE_NM}}</option>
									</select>
								</div>
							</div>																			
						</div>
						<div class="form-group">
							<label class="control-label"><span class="star01">추출 구분</span></label>
							<div class="formInput">
								<div class="input-group">
									<div class="selects">
										<select class="form-control" name="" [(ngModel)]="detailinfo.SEG_TYPE">
											<option *ngFor="let data of segTypeList" value="{{data.CODE_ID}}">{{data.CODE_NM}}</option>
										</select>
									</div>
									<span class="input-group-btn">
										<button type="button" [class]="detailinfo.SEG_SQL ? 'btn btn-primary' : 'btn btn-default'" data-toggle="modal" (click)="evtBtnSqlClick()">SQL</button>
									</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label"><span class="star01">설명</span></label>
							<div class="formInput">
								<input type="text" class="form-control" [(ngModel)]="detailinfo.SEG_DESC">
							</div>																			
						</div>
						<div class="form-group">
							<label class="control-label"><span class="star01">순서</span></label>
							<div class="formInput">
								<input class="touchspin01" type="number" min="1" [(ngModel)]="detailinfo.ORDINAL" #inputOrdinal>
							</div>																			
						</div>
						<div class="form-group">
							<label class="control-label"><span class="star01">상태</span></label>
							<div class="formInput">
								<div class="selects">
									<select class="form-control" name="" [(ngModel)]="detailinfo.SEG_STATUS" disabled *ngIf="packInfoViewMode==1">
											<option *ngFor="let data of packStatusList" value="{{data.CODE_ID}}">{{data.CODE_NM}}</option>
									</select>
									<select class="form-control" name="" disabled *ngIf="packInfoViewMode==0">
											<option value="40">작성중</option>
									</select>
								</div>
							</div>																				
						</div>															
					</div>
				</div>
			</div>
			<!-- <select (change)="onPageSizeChanged()" id="pageSize">
				<option value="1">1</option>
				<option value="10" selected="">10</option>
				<option value="100">100</option>
				<option value="500">500</option>
				<option value="1000">1000</option>
			</select> (rowDataChanged)="onRowDataChanged($event)"-->
			<ag-grid-angular
				id="myGrid"
				style="width: 100%; height: 385px;"
				class="ag-theme-alpine"
				[rowData]="myGridData"
				[columnDefs]="myGridColumnDefs"
				[pagination]="myGridPagination"
				[rowHeight]="35"
				[rowSelection]="myGridtRowSelection"
								[debug]="true"
								paginationAutoPageSize=true
				(gridReady)="onGridReady($event)"
                                (rowClicked)="onRowClick($event)"
                                (gridSizeChanged)="onGridColumnsSizeChange($event)"
				(selectionChanged)="gridOnSelectionChanged($event)"
				
			>
			</ag-grid-angular>
			<!-- <div class="grid-wrap">
				<div class="panel-field grid margin-reset">
					<div class="data-table">
						<div id="gridContainerB7" class="dataGrid"></div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>

<app-typemodal #advisorSegmentSelectModal></app-typemodal>
<!-- <app-modal-sql sqlBuilderTitle="추천 세그먼트 정의" #sqlModal></app-modal-sql> -->
<app-modal-segment-sql sqlBuilderTitle="추천 세그먼트 정의" #sqlModal></app-modal-segment-sql>
