<h2 class="tit-level1">A/B 테스트</h2>

	<div class="subConView">			
		<div class="conWrap">
			<div class="chartBtnArea">
				<div class="chartBtn">
					<a href="javascript:void(0)" (click)="showTree()" class="btn btn-w-m btn-default" title="트리 {{hidden ? '보이기' : '숨기기'}}"><i class="ti-list"></i></a>
					<a href="javascript:void(0)" (click)="evtBtnAbtestNewClick()" class="btn btn-default" title="새로만들기"><i class="ti-plus"></i></a>
					<a href="javascript:void(0)" (click)="evtBtnAbtestSaveClick()" class="btn btn-default" title="저장"><i class="ti-save"></i></a>
					<a href="javascript:void(0)" (click)="evtBtnAbtestSaveAsClick()" class="btn btn-default" title="다른이름으로 저장"><i class="ti-files"></i></a>
					<a href="javascript:void(0)" (click)="evtBtnAbtestDeleteClick()" class="btn btn-default" title="삭제"><i class="ti-trash"></i></a>
					<button type="button" [disabled]="detailinfo.AB_STATUS !== '60'" (click)="openAbtestRsltModal()" class="btn btn-primary" title="통계검증결과" >통계검증결과</button>
					<!-- <a href="javascript:void(0)" class="btn btn-info" title="Layout 재처리">A/B테스트 재처리</a> -->
				</div>
			</div>
			<div class="segmentType colRow">
				<div class="packTree04 col20" [hidden]="hidden">
					<div class="treeCon mCustomScrollbar">
						<app-tree-abtest #abtestTree (selected)="onAbtestTreeSelected($event)"></app-tree-abtest>
					</div>
				</div>

				<div class="packInfo {{hidden ? 'col100' : 'col80'}}">
					<div class="writeTypeCon">
						<div class="sectionCon">
							<h2 class="tit-level2">테스트 정보</h2>
							<div class="writeType01 viewTable01">										
								<div class="requiredInfor">					
									<div class="form-Area">
										<div class="form-group">
											<label class="control-label"><span class="star01">세그먼트</span></label>
											<div class="formInput">
												<div class="input-group">
													<input type="text" class="form-control" [(ngModel)]="detailinfo.SEG_NM" readonly>
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" (click)="openSegmentModal()"><i class="ti-search"></i></button>
													</span>
												</div>
											</div>																			
										</div>
										<div class="form-group">
											<label class="control-label"><span class="star01">테스트유형</span></label>
											<div class="formInput">
												<div class="input-group">
													<input type="text" class="form-control" [(ngModel)]="detailinfo.FLD_NM" readonly>
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" (click)="openTypeAbtestModal()"><i class="ti-search"></i></button>
													</span>
												</div>
											</div>																			
										</div>
										<div class="form-group">
											<label class="control-label"><span class="star01">테스트명</span></label>
											<div class="formInput">
												<input type="text" class="form-control" [(ngModel)]="detailinfo.ABTEST_NM">
											</div>																			
										</div>
										<div class="form-group">
											<label class="control-label"><span class="star01">테스트 기간</span></label>
											<div class="formInput">
												<div class="col-sm-5" style="padding-left: 0;padding-right: 0;">
													<div id="dateStart">
														<div class="input-group date">
															<span class="input-group-addon"><i class="ti-calendar"></i></span><input type="text" id="startDate" class="form-control" [(ngModel)]="detailinfo.START_DATE" placeholder="YYYY-MM-DD, 시작일">
														</div>
													</div>
												</div>
												<div class="col-sm-2"></div>
												<div class="col-sm-5" style="padding-left: 0;padding-right: 0;">
													<div id="dateStart">
														<div class="input-group date">
															<span class="input-group-addon"><i class="ti-calendar"></i></span><input type="text" id="endDate" class="form-control" [(ngModel)]="detailinfo.END_DATE" placeholder="YYYY-MM-DD, 종료일">
														</div>
													</div>
												</div>
											</div>																			
										</div>											
										<div class="form-group">
											<label class="control-label"><span class="star01">타겟팅 방법</span></label>
											<div class="formInput">
												<div class="selects">
													<select class="form-control" [(ngModel)]="detailinfo.TRG_TYPE">
														<option *ngFor="let data of trgTypeList" value="{{data.CODE_ID}}">{{data.CODE_NM}}</option>
													</select>
												</div>
											</div>																			
										</div>
										<div class="form-group">
											<label class="control-label"><span class="star01">타겟 수</span></label>
											<div class="formInput">
												<div class="input-group">
													<input class="touchspin01" type="number" min="0" [(ngModel)]="detailinfo.TRG_CNT" #inputTrgCnt>
													<span class="input-group-btn">
														<button type="button" [class]="detailinfo.AB_SQL ? 'btn btn-primary' : 'btn btn-default'" (click)="evtBtnSqlClick()">SQL</button>
													</span>
												</div>
											</div>																			
										</div>											
										<div class="form-group">
											<label class="control-label"><span class="">설명</span></label>
											<div class="formInput">
												<input type="text" class="form-control" [(ngModel)]="detailinfo.AB_DESC">
											</div>																			
										</div>
										<div class="form-group">
											<label class="control-label"><span class="">진행상태</span></label>
											<div class="formInput">
												<div class="selects">
													<select class="form-control" name="" disabled [(ngModel)]="detailinfo.AB_STATUS" *ngIf="viewMode===1">
														<option *ngFor="let data of abStatusList" value="{{data.CODE_ID}}">{{data.CODE_NM}}</option>
													</select>
													<select class="form-control" name="" disabled  *ngIf="viewMode===0">
														<option value="40">작성중</option>
													</select>
												</div>
											</div>																			
										</div>	
										<div class="form-group">
											<label class="control-label"><span class="star01">목표지표</span></label>
											<div class="formInput">
												<div class="selects">
													<select class="form-control" [(ngModel)]="detailinfo.TRG_IDX" disabled>
														<option *ngFor="let data of trgIdxList" value="{{data.CODE_ID}}">{{data.CODE_NM}}</option>
													</select>
												</div>
											</div>																			
										</div>												
									</div>
								</div>
							</div>
						</div>

						<div class="sectionCon">
							<!-- <h2 class="tit-level2">Layout 구성</h2> -->
							<div class="remarkLayoutWrap">
								<div class="chartBtn">
									<a href="javascript:void(0);" class="btn btn-info btn-outline" title="아이템 선택" (click)="openLayoutModal()">레이아웃 선택</a>
									<a href="javascript:void(0);" class="btn btn-default" title="삭제" (click)="evtLayoutBtnDeleteClick()"><i class="ti-trash"></i></a>
								</div>
								<div class="chartBtn chartBtnR">
									<button type="button" class="btn btn-default" [disabled]="!this.rsltinfo.LAYOUT_ID || rsltinfo.ORDINAL === 1" title="앞으로" (click)="evtLayoutBtnOrdinalClick(-1)"><i class="ti-arrow-left"></i></button>
									<button type="button" class="btn btn-default" [disabled]="!this.rsltinfo.LAYOUT_ID || rsltinfo.ORDINAL === layoutCardList.length" title="뒤로" (click)="evtLayoutBtnOrdinalClick(1)"><i class="ti-arrow-right"></i></button>
								</div>
							</div>

							<div class="layoutListWrap">
								<div class="layoutListCon1 mCustomScrollbar">
									<div class="lectureWrap" id="lectureSlide">
										<!--start of 레이아웃 카드-->
										<div *ngFor="let item of layoutCardList; let i = index;" class="item">
											<div [class]="rsltinfo.LAYOUT_ID === item.LAYOUT_ID ? 'itemDetail active' : 'itemDetail'">
												<!-- <div *ngIf="item.BEST_YN === 'Y'" class="lectureColorWrap lectureColor01"><p>BEST</p></div> -->
												<i *ngIf="item.BEST_YN === 'Y'" class="icon-premium"></i>
												<div class="lectureThumbnail">															
													<img class="lazy-img loaded" 
													data-src="/assets/resources/img_app/tip1010001757_l.jpg" 
													alt="강의 썸네일"
													src="/assets/resources/img_app/tip1010001757_l.jpg"
													>
												</div> 
												<div (click)="setAbtestRsltInfo(item)" class="description text-center" style="display: block;padding-left: 0px;">
													<p class="txt_info" style="margin-top: 0;">[순서] : {{item.ORDINAL}}</p>
													<p *ngIf="item.RANK" class="txt_info" style="margin-top: 0;">[순위] : {{item.RANK}}</p>
													<p class="txt_info" style="margin-top: 0;">[유형] : {{item.FLD_NM}}</p>
													<strong class="tit_cont">{{item.LAYOUT_NM}}</strong>
													<strong *ngIf="item.TRG_IDX_VALUE" class="tit_cont">{{item.TRG_IDX_NM}} : {{item.TRG_IDX_VALUE}}%</strong>
												</div>
											</div>
										</div>
										<!-- end of 레이아웃 카드 -->
									</div>
								</div>
							</div>


						</div>

						
					</div>
				</div>
			</div>
			

		</div>
</div>
					
<app-modal-segment #segmentModal></app-modal-segment>
<app-modal-typeabtest #typeModal></app-modal-typeabtest>
<app-modal-segment-sql sqlBuilderTitle="A/B 테스트" #sqlModal></app-modal-segment-sql>
<!-- <app-modal-sql  sqlBuilderTitle="A/B 테스트" #sqlModal></app-modal-sql> -->
<app-modal-layout #layoutModal></app-modal-layout>
<app-modal-abtest-rslt [ABTEST_NM]="detailinfo.ABTEST_NM" #abtestRslt></app-modal-abtest-rslt>

