
<h2 class="tit-level1">AI기반 추천</h2>
<div class="subConView">
<div class="">
	<div class="chartBtnArea">
		<div class="chartBtn">
			<a href="javascript:void(0)" (click)="showTree()" class="btn btn-w-m btn-default" title="트리 {{hidden ? '보이기' : '숨기기'}}"><i class="ti-list"></i></a>
			<a href="javascript:void(0)" (click)="evtBtnNewClick()" class="btn btn-default" title="새로만들기"><i class="ti-plus"></i></a>
			<a href="javascript:void(0)" (click)="evtBtnSaveClick()" class="btn btn-default" title="저장"><i class="ti-save"></i></a>
			<a href="javascript:void(0)" (click)="evtBtnSaveAsClick()" class="btn btn-default" title="다른이름으로 저장"><i class="ti-files"></i></a>
			<a href="javascript:void(0)" (click)="evtBtnDeleteClick()" class="btn btn-default" title="삭제"><i class="ti-trash"></i></a>
		<!-- 	<a href="javascript:void(0)" (click)="aiSlideRefresh(menuId)" class="btn btn-default" title="삭제">선호도 </a> -->
		</div>
	</div>
	<div class="segmentType colRow">
		<div class="packList03 col20" [hidden]="hidden">
			<div class="treeCon mCustomScrollbar">
				<app-tree-ai #aiTree (selected)="onAiTreeSelected($event)"></app-tree-ai>
			</div>
		</div>

		<div class="packInfo {{hidden ? 'col100' : 'col80'}}">
			<div class="writeTypeCon">
				<div class="sectionCon">
					<h2 class="tit-level2">AI 정보 {{viewMode === 0 ? '[새로만들기]' : '[AI_ID:'+AI_MSTR.AI_ID+']'}}</h2>
					<div class="writeType01 viewTable01">										
						<div class="requiredInfor">					
							<div class="form-Area">
								<div class="form-group">
									<label class="control-label"><span class="star01">AI 명  {{AI_MSTR.PREF_ID}}</span></label>
									<div class="formInput">
										<input type="text" class="form-control" [(ngModel)]="AI_MSTR.AI_NM">
									</div>																			
								</div>
								<div class="form-group">
									<label class="control-label"><span class="star01">AI 유형</span></label>
									<div class="formInput">
										<div class="input-group">
											<input type="text" class="form-control" [(ngModel)]="AI_MSTR.FLD_NM" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default" (click)="openTypeAiModal()"><i class="ti-search"></i></button>
											</span>
										</div>
									</div>																			
								</div>																	
								<div class="form-group">
									<div class="col-sm-6" style="padding-left: 0;padding-right: 0;">
										<label class="control-label"><span class="">반환아이템수</span></label>
										<div class="formInput">
											<div class="input-group">
												<input class="touchspin01" type="number" min="0" [(ngModel)]="AI_MSTR.RTN_CNT" #inputRtnCnt>
												<span class="input-group-btn">
													<button type="button" [class]="AI_MSTR.AI_SQL ? 'btn btn-primary' : 'btn btn-default'" (click)="evtBtnSqlClick()">SQL</button>
												</span>
											</div>
										</div>	
									</div>
									<div class="col-sm-1"></div>
									<div class="col-sm-5" style="padding-left: 0;padding-right: 0;">
										<label class="control-label"><span class="">학습상태</span></label>
										<div class="formInput">
											<div class="selects">
												<select class="form-control" name="" [(ngModel)]="AI_MSTR.AI_STATUS" disabled *ngIf="viewMode==1">
													<option *ngFor="let data of aiStatusList" value="{{data.CODE_ID}}">{{data.CODE_NM}}</option>
												</select>
												<select class="form-control" name="" disabled *ngIf="viewMode==0">
													<option value="40">작성중</option>
												</select>
											</div>
										</div>	
									</div>																		
								</div>
								<div class="form-group">
									<label class="control-label"><span class="">설명</span></label>
									<div class="formInput">
										<input type="text" class="form-control" [(ngModel)]="AI_MSTR.AI_DESC">
									</div>																			
								</div>
								<!-- <div class="form-group">
									<label class="control-label"><span class="star01">순서</span></label>
									<div class="formInput">
										<input class="touchspin01" type="number" min="0" [(ngModel)]="detailinfo.ORDINAL" #inputOrdinal>
									</div>																			
								</div> -->
							</div>
						</div>
					</div>
				</div>

				<div class="sectionCon">
					<!--  ############################################ -->
					<!--  START of slide bar -->
					<!-- <h2 class="tit-level1">AI기반 추천</h2> -->
					<div class="definitionProcess recommModelProcess">
						<div class="step-container step1">
							<span class="progress"></span>
							<ul class="panel-indicators">
								<li id="step1" class="on">
									<a href="javascript:void(0);" (click)="main('SEG_SELECT')">
										<span>세그먼트 선택</span>
									</a>
									<div class="step-guide">
										<p >step guide description....</p>
									</div>
								</li>
								<li id="step2">
									<a href="javascript:void(0);" (click)="main('DATASET')">
										<span>데이터 탐색</span>
									</a>
									<div class="step-guide">
										<p >step guide description....</p>
									</div>
								</li>
								<li id="step3">
									<a href="javascript:void(0);" (click)="main('PREF_DEF')">
										<span>선호도 정의</span>
									</a>
									<div class="step-guide">
										<p >step guide description....</p>
									</div>
								</li>
								<li id="step4">
									<a href="javascript:void(0);" (click)="main('DATA_SPLIT')">
										<span>데이터 분할</span>
									</a>
									<div class="step-guide">
										<p >step guide description....</p>
									</div>
								</li>
								<li id="step5">
									<a href="javascript:void(0);" (click)="main('ALG_SELECT')">
										<span>알고리즘 선택</span>
									</a>
									<div class="step-guide">
										<p >step guide description....</p>
									</div>
								</li>
								<li id="step6">
									<a href="javascript:void(0);" (click)="main('LEARN')">
										<span>모델 학습</span>
									</a>
									<div class="step-guide">
										<p >step guide description....</p>
									</div>
								</li>
								<li id="step7">
									<a href="javascript:void(0);" (click)="main('EVAL_RESULT')">
										<span>모델평가 결과</span>
									</a>
									<div class="step-guide">
										<p >step guide description....</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- <div class="subConView"> -->
						<div class="stepConWrap">
							<div class="swiper-container" id="stepContent">						
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<!-- 세그먼트 선택 -->
										<ng-container  *ngIf="menuId === 'SEG_SELECT'">
										<app-segmentselect #segmentSelect [_AI_MSTR]="AI_MSTR" (selected)="setAiMstr($event)"></app-segmentselect><!-- (selected)="onSegmentSelect($event)"-->
										</ng-container>
										<!-- 세그먼트 선택 -->								
									</div>

									<div class="swiper-slide">
										<!-- 데이터 탐색 -->					
										<ng-container *ngIf="menuId === 'DATASET'">
										<app-dataset #dataSet [_AI_MSTR]="AI_MSTR"></app-dataset>
										</ng-container>
										<!-- 데이터 탐색 -->								
									</div>

									<div class="swiper-slide">
										<!-- 선호도 정의 -->
										<ng-container *ngIf="menuId=== 'PREF_DEF'">
											<app-prefdefinition #aiBasePref [_AI_MSTR]="AI_MSTR" (selected)="setAiMstr($event)"></app-prefdefinition>
										</ng-container>
										<!-- 선호도 정의 -->	
									</div>
									<div class="swiper-slide">
										<!-- 데이타 분할 -->
										<ng-container *ngIf="menuId=== 'DATA_SPLIT'">
											<app-datasplit #dataSplit [_AI_MSTR]="AI_MSTR" (selected)="setAiMstr($event)"></app-datasplit>
										</ng-container>
										<!-- 데이타 분할 -->
									</div>

									<div class="swiper-slide">
										<!-- 알고리즘 선택 -->
										<ng-container *ngIf="menuId=== 'ALG_SELECT'">
											<app-algselect #algSelect [_AI_MSTR]="AI_MSTR" (selected)="setAiMstr($event)"></app-algselect>
										</ng-container>
										<!-- 알고리즘 선택 -->
									</div>										

									<div class="swiper-slide">
										<!-- 모델 학습 -->
										<ng-container *ngIf="menuId=== 'LEARN'">
											<app-modellearn #modelLearn [_AI_MSTR]="AI_MSTR"></app-modellearn>
										</ng-container>
										<!-- 모델 학습 -->
									</div>
									
									<div class="swiper-slide">
										<!-- 모델평가 결과  -->
										<ng-container *ngIf="menuId=== 'EVAL_RESULT'">
										<app-modelevaluation #modelEvaluation [_AI_MSTR]="AI_MSTR"></app-modelevaluation>
										</ng-container>
										<!-- 모델평가 결과  -->
									</div>
									
								</div>
							</div>

						</div>
					<!-- </div> -->
					<!--  END of slide bar -->
					<!--  ############################################ -->
					
				</div>

			</div>
		</div>
	</div>
</div>
</div>
<app-modal-typeai #typeAiModal></app-modal-typeai>
<app-modal-segment-sql sqlBuilderTitle="AI기반 추천 정의" #sqlModal></app-modal-segment-sql>
<!-- <app-modal-sql sqlBuilderTitle="AI기반 추천 정의" #sqlModal></app-modal-sql> -->
