<h2 class="tit-level1">OCR AI 학습</h2>

<div class="subConView">			
	<div class="conWrap">

		<div class="colRow">
			<div class="col30" style="min-width:540px;">
				<div class="roundBorder" style="height:850px;">
					<div class="writeType01">										
						<div class="requiredInfor">					
							<div class="form-Area">
								<div class="form-group">
									<label class="control-label"><span class="">파일명</span></label>
									<div class="formInput">
										<input type="text" class="form-control" [(ngModel)]="searchtxt" (keyup.enter)="onSearchOcrDocMstList('0')">
									</div>																			
								</div>
								<div class="form-group">
									<label class="control-label"><span class="">상호(명칭)</span></label>
									<div class="formInput">
										<input type="text" class="form-control" [(ngModel)]="searchBusinessNm" (keyup.enter)="onSearchOcrDocMstList('0')">
									</div>																			
								</div>
								<div class="form-group">
									<label class="control-label">처리상태</label>
									<div class="formInput">
										<div class="selects">
											<select class="form-control" [(ngModel)]="searchStatCd" name="">
												<option value="" selected="">전체</option>
												<option value="20">완료</option>
												<option value="30">학습</option>
											</select>
										</div>
									</div>																				
								</div>
																						
							</div>
						</div>
					</div>							

					<div class="grid-wrap">
						<div class="board_top">
							<ul class="board_total">	
								<li>Total : <span>{{OCRTABLETOTCNT}}</span></li>									
							</ul>
							
							<!-- 버튼 -->
							<div class="buttonGroup">
								<div class="BtnGroupR">
									<a href="javascript:void(0);" class="btn btn-info" (click)="onSearchOcrDocMstList('0')">조회</a>
								</div>
							</div>
							<!-- 버튼 끝 -->
						</div>
						<div class="table_type1" >
							<table id="ocrDocMst" summary="목록" style="width: 100%;">
								<colgroup>
									<col style="width: 25%;">
									<col style="width: auto;">
									<col style="width: auto;">
									<col style="width: 15%;">
									<col style="width: 15%;">
									<col style="width: 30px;">
								</colgroup>
								<thead>
									<tr>
										<th>순번</th>
										<th>파일명</th>
										<th>상호명</th>
										<th>평균점수</th>
										<th>처리상태</th>
										<th>선택</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let ocrDocMst of OcrDocMstData;let idx=index" [class.selectcell]="ocrDocMst.DOC_SN === DOC_SN">
										<td>{{ocrDocMst.DOC_SN}}</td>	
										<td class="left">{{ocrDocMst.FILE_ORI_NM}}</td>
										<td class="left">{{ocrDocMst.BUSINESS_NM}}</td>
										<td class="right">{{ocrDocMst.AVERAGE_SCORE}}</td>
										<td>{{ocrDocMst.STAT_CD_NM}}</td>
										<td>
											<a href="javascript:void(0);" (click)="onSelectOcrDocDetail(ocrDocMst.PRJ_ID,ocrDocMst.DOC_SN)" class="btn btn-primary btn-xs btn-outline btn-fit">선택</a>
										</td>
									</tr>   
									<ng-container *ngIf="OcrDocMstData && OcrDocMstData.length == 0">
									<tr height="44px">
										<td colspan="4" style="border:0">
											<div class="search_result"><h4>등록된 정보가 없습니다.</h4></div>
										</td>	
									</tr>  
									</ng-container>	
								</tbody>
							</table>
						</div>
						<div class="board_bottom">
							<app-page #page1></app-page>
						</div>
					</div>
				</div>
			</div>
			<div class="col30" style="min-width:400px;">
				<div class="roundBorder" style="height:850px;">
					<div class="grid-wrap">
						<div class="board_top">
							<ul class="board_total">	
								<li>Total : <span>{{OCRDETAILTABLETOTCNT}}</span></li>									
							</ul>
							<ul class="board_commentr">	
								<li>※ 문서를 클릭하면 문서가 [확대]됩니다.</li>								
							</ul>
						</div>
						<div class="table_type1" >
							<table id="ocrDocDetail" summary="목록" style="width: 100%;">
								<tbody>
								<tr *ngFor="let ocrDocDetail of OcrDocDetailData;let idx=index">
									<td>
										<a data-title="{{ocrDocDetail.DOC_NM}}" data-lightbox="ocrDocDetail" href="{{apiUrl}}/detailimage/{{ocrDocDetail.FILE_NM}}">
											<img style="max-height:570px;" src="{{apiUrl}}/detailimage/{{ocrDocDetail.FILE_NM}}" class="mCS_img_loaded"/>
										</a>
                                	</td>	
								</tr>   
								<ng-container *ngIf="OcrDocDetailData && OcrDocDetailData.length == 0">
								<tr height="44px">
									<td style="border:0">
										<div class="search_result"><h4>등록된 정보가 없습니다.</h4></div>
									</td>	
								</tr>  
								</ng-container>	
								</tbody>
							</table>
						</div>
						<div class="board_bottom">
							<app-page #page2></app-page>
						</div>
					</div>
				</div>
			</div>
			<div class="col40" style="min-width:400px;">
				<div class="roundBorder" style="height:850px;">
					<div class="writeType01">										
						<div class="requiredInfor">					
							<div class="form-Area">
								<div class="form-group" style="width:50%">
									<label class="control-label"><span class="">검색조건</span></label>
									<div class="formInput">
										<div class="selects">
											<select class="form-control" [(ngModel)]="searchCondCd" (change)="onSelectOcrDocTextPaging('0')" [disabled]="!DOC_SN">
												<option value="" selected="">전체</option>
												<option value="100">점수0.8 이하</option>
												<option value="110">점수0.6 이하</option>
												<option value="120">점수0.4 이하</option>
												<option value="130">검증글자 존재</option>
												<option value="140">학습 대상</option>
												<option value="150">학습후 개선</option>
												<option value="160">학습후 무변</option>
												<option value="170">학습후 나쁨</option>
											</select>
										</div>
									</div>																			
								</div>
								<div class="form-group" style="width:25%">
									<label class="control-label"><span class="">평균 Score</span></label>		
									<div class="formInput">
										<input type="text" class="form-control" [(ngModel)]="averageScore" disabled>
									</div>																			
								</div>
								<div class="form-group" style="width:25%">
									<label class="control-label"><span class="">학습후 Score</span></label>		
									<div class="formInput">
										<input type="text" class="form-control" [(ngModel)]="trainingScore" disabled>
									</div>																			
								</div>												
							</div>
						</div>
					</div>		

					<div class="grid-wrap">
						<div class="board_top">
							<ul class="board_total">	
								<li>Total : <span>{{OCRTEXTTABLETOTCNT}}</span></li>									
							</ul>
							<ul class="board_comment">	
								<li>※ [인식 이미지]를 클릭하면 이미지가 [확대]됩니다.</li>								
							</ul>
							<!-- 버튼 -->
							<div class="buttonGroup">
								<div class="BtnGroupR" *ngIf="DOC_SN">
									<a href="javascript:void(0);" class="btn btn-info" (click)="onSelectOcrDocTextPaging('0')" >조회</a>
									<a href="javascript:void(0);" class="btn btn-primary" (click)="onSaveOcrDocText()" *ngIf="OcrDocTextData && OcrDocTextData.length > 0">학습</a>
								</div>
							</div>
							<!-- 버튼 끝 -->
						</div>
						<div class="table_type1" style="overflow-x:scroll;">
							<table id="ocrDocText" summary="목록" style="width:100%;">
	                            <colgroup>
	                                <col style="width: 10%;">
	                                <col style="width: 20%;">
	                                <col style="width: auto;">	                                
	                                <col style="width: 15%;">
	                                <col style="width: 15%;">
	                                <col style="width: 15%;">
	                                <col style="width: 15%;">
	                            </colgroup>
	                            <thead>
	                    	    <tr>
	                                <th style="white-space:pre;"><input type="checkbox" [(ngModel)]="textTrainingYnAll" style="margin:0px;vertical-align:middle;" (change)="changeTextTrainingYnAll()">선택</th>
	                                <th style="white-space:pre;">인식 이미지</th> 	                                
	                                <th style="white-space:pre;">추출 글자</th>
	                                <th style="white-space:pre;">Score</th>
	                                <th style="white-space:pre;">검증 글자</th>
	                                <th style="white-space:pre;">학습후 추출글자</th>
	                                <th style="white-space:pre;">학습후 Score</th>
	                    	    </tr>                                                                    
	                            </thead>                                                                 
                          		<tbody>                                                                  						
									<tr *ngFor="let ocrDocText of OcrDocTextData;let idx=index">
										<td><input type="checkbox" [(ngModel)]="ocrDocText.TEXT_TRAINING_YN"></td>	
										<td class="nopadding">
											<a data-title="{{ocrDocText.TEXT_NM}}" data-lightbox="ocrDocText" href="{{apiUrl}}/textimagefile/{{ocrDocText.TEXT_IMAGE_PATH.replace('C:\\dev_project\\aiblue_ocr\\textimagefile\\','')}}">
												<img style="max-height:30px;" src="{{apiUrl}}/textimagefile/{{ocrDocText.TEXT_IMAGE_PATH.replace('C:\\dev_project\\aiblue_ocr\\textimagefile\\','')}}" class="mCS_img_loaded"/>
											</a>
										</td>
										<td class="left"  style="white-space:pre;">{{ocrDocText.TEXT_NM}}</td>
										<td>{{ocrDocText.SCORE}}</td>
										<td class="left"  style="white-space:pre;">{{ocrDocText.TEXT_UPDT_NM}}</td>
										<td class="left"  style="white-space:pre;">{{ocrDocText.TEXT_TRAINING_NM}}</td>
										<td>{{ocrDocText.TEXT_TRAINING_SCORE}}</td>
									</tr>   
									<ng-container *ngIf="OcrDocTextData && OcrDocTextData.length == 0">
									<tr height="44px">
										<td colspan="7" style="border:0">
											<div class="search_result"><h4>등록된 정보가 없습니다.</h4></div>
										</td>	
									</tr>  
									</ng-container>		
								</tbody>						
							</table>
						</div>
						<div class="board_bottom">
							<app-page #page3></app-page>
						</div>
					</div>
				</div>
			</div>
		</div>	

	</div>
</div>

<!-- .main-section e -->